<html>
    <head>
    </head>
    <body>
        <h1>creating a new movie</h1>
        <form action="/newMovie" method="post">
            <div>
                <label >Name</label>
                <input name="name" id="name" placeholder="Please type the name of the movie"  required>
            </div>

            <div>
                <label>Language</label>
                <input id="Language" name="Language" placeholder="Please type the language of the movie" required>
            </div>

            <h3>Please select the genre types</h3>
            <input type="checkbox" id="checkbox" name="checkbox" value="Drama"><label>Drama</label><br>
            <input type="checkbox" id="checkbox" name="checkbox" value="Science-Fiction"><label>Science-Fiction</label><br>
            <input type="checkbox" id= "checkbox" name="checkbox" value="Thriller"><label>Thriller</label><br>
            <input type="checkbox" id="checkbox" name="checkbox" value="Action"><label>Action</label><br>
            <input type="checkbox" id="checkbox" name="checkbox" value="Crime"><label>Crime</label><br>
            <input type="checkbox" id="checkbox" name="checkbox" value="Horror"><label>Horror</label><br>
            <input type="checkbox" id="checkbox" name="checkbox" value="Romance"><label>Romance</label><br>
            <input type="checkbox" id="checkbox" name="checkbox" value="Thriller"><label>Thriller</label><br>
            <input type="checkbox" id="checkbox" name="checkbox" value="Adventure"><label>Adventure</label><br>
            <input type="checkbox" id="checkbox" name="checkbox" value="Espionage"><label>Espionage</label><br>
            <input type="checkbox" id="checkbox" name="checkbox" value="Music"><label>Music</label><br>
            <input type="checkbox" id="checkbox" name="checkbox" value="Mystery"><label>Mystery</label><br>
            <input type="checkbox" id="checkbox" name="checkbox" value="Supernatural"><label>Supernatural</label><br>
            <input type="checkbox" id="checkbox" name="checkbox" value="Fantasy"><label>Fantasy</label><br>
            <input type="checkbox" id="checkbox" name="checkbox" value="Family"><label>Family</label><br>
            <input type="checkbox" id="checkbox" name="checkbox" value="Anime"><label>Anime</label><br>
            <input type="checkbox" id="checkbox" name="checkbox" value="Comedy"><label>Comedy</label><br>
            <input type="checkbox" id="checkbox" name="checkbox" value="Legal"><label>Legal</label><br>
            <input type="checkbox" id="checkbox" name="checkbox" value="Western"><label>Western</label><br>
            <input type="checkbox" id="checkbox" name="checkbox" value="Sports"><label>Sports</label><br>
            <input type="checkbox" id="checkbox" name="checkbox" value="War"><label>War</label><br>

            <br><br>

            <input type="submit" value="save">
        </form>

    </body>
</html>

