<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creating a New Movie</title>
    <style>
       body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
        }

        h1 {
            text-align: center;
            color: #036e92;
        }

        form {
            max-width: 1000px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px  #036e92;
        }

        label {
            font-weight: bold;
            display: block;
            margin-bottom: 10px;
            color: #2796ba;
        }

        input[type="text"],
        input[type="tel"] {
            width: 90%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        h3 {
            font-size: 1.2rem;
            margin-top: 20px;
            color: #036e92;
        }

        .radio-group {
            margin-top: 10px;
            color: #2796ba;
        }

        input[type="radio"] {
            margin-right: 5px;
            display: inline-block;
        }

        label.radio-label {
            display: inline-block;
            width: 150px; /* Set a width for the labels to align them properly */
        }

        input[type="submit"],
        button {
            background-color: #2796ba;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }

        button {
            background-color: #ccc;
            margin-left: 10px;
        }
        a {
            text-decoration: none;
            color: #8edbed;
            border-bottom: 1px solid #333;
            margin-top: 10px;
            display: inline-block;
        }

        @media screen and (max-width: 600px) {
            form {
                padding: 10px;
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Creating a New Movie</h1>
        <form action="/newMovie" method="post">
            <div>
                <label for="name">Name</label>
                <input type="text" name="name" id="name" placeholder="Please type the name of the movie" required>
            </div>

            <div>
                <label for="Language">Language</label>
                <input type="text" name="Language" id="Language" placeholder="Please type the language of the movie" required>
            </div>

            <h3>Please select the genre types</h3>
            <div class="checkbox-group">

            <input type="checkbox" name="checkbox" value="Drama" id="checkbox1"><label for="checkbox1">Drama</label><br>
            <input type="checkbox" name="checkbox" value="Science-Fiction" id="checkbox2"><label for="checkbox2">Science-Fiction</label><br>
            <input type="checkbox" name="checkbox" value="Thriller" id="checkbox3"><label for="checkbox3">Thriller</label><br>
            <input type="checkbox" name="checkbox" value="Action" id="checkbox4"><label for="checkbox4">Action</label><br>
            <input type="checkbox" name="checkbox" value="Crime" id="checkbox5"><label for="checkbox5">Crime</label><br>
            <input type="checkbox" name="checkbox" value="Horror" id="checkbox6"><label for="checkbox6">Horror</label><br>
            <input type="checkbox" name="checkbox" value="Romance" id="checkbox7"><label for="checkbox7">Romance</label><br>
            <input type="checkbox" name="checkbox" value="Adventure" id="checkbox8"><label for="checkbox8">Adventure</label><br>
            <input type="checkbox" name="checkbox" value="Espionage" id="checkbox9"><label for="checkbox9">Espionage</label><br>
            <input type="checkbox" name="checkbox" value="Music" id="checkbox10"><label for="checkbox10">Music</label><br>
            <input type="checkbox" name="checkbox" value="Mystery" id="checkbox11"><label for="checkbox11">Mystery</label><br>
            <input type="checkbox" name="checkbox" value="Supernatural" id="checkbox12"><label for="checkbox12">Supernatural</label><br>
            <input type="checkbox" name="checkbox" value="Fantasy" id="checkbox13"><label for="checkbox13">Fantasy</label><br>
            <input type="checkbox" name="checkbox" value="Family" id="checkbox14"><label for="checkbox14">Family</label><br>
            <input type="checkbox" name="checkbox" value="Anime" id="checkbox15"><label for="checkbox15">Anime</label><br>
            <input type="checkbox" name="checkbox" value="Comedy" id="checkbox16"><label for="checkbox16">Comedy</label><br>
            <input type="checkbox" name="checkbox" value="Legal" id="checkbox17"><label for="checkbox17">Legal</label><br>
            <input type="checkbox" name="checkbox" value="Western" id="checkbox18"><label for="checkbox18">Western</label><br>
            <input type="checkbox" name="checkbox" value="Sports" id="checkbox19"><label for="checkbox19">Sports</label><br>
            <input type="checkbox" name="checkbox" value="War" id="checkbox20"><label for="checkbox20">War</label><br>

        </div>

        <br><br>

        <input type="submit" value="Save">
    </form>
</div>
</body>
</html>