<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        /* גודל טקסט גדול יותר */
        a {
            font-size: 24px;
            text-decoration: none;
            color: #8edbed;
            border-bottom: 1px solid #333;
            margin-top: 20px; /* גבוה יותר מהמקורי */
            display: inline-block;
        }
    </style>
</head>
<body>
    <div>
        <a href="/SearchMoviesPage">Search for movies</a><br>
        <a href="/CreateMoviePage">Create new movie</a><br>
    </div>
</body>
</html>
