<html>
    <head>
    </head>

    <script>
        
    </script>
    <body>
        
        <a href="/SearchMoviesPage">Search for movies</a><br>
        <a href="/CreateMoviePage">Create new movie</a><br>



    </body>
</html>

