<html>
    <head>
        <style>
            body {
                font-family: Arial, sans-serif;
                background-color: #f0f0f0;
            }
    
            h1 {
                text-align: center;
                color: #036e92;
            }
    
            form {
                max-width: 1000px;
                margin: 0 auto;
                background-color: #fff;
                padding: 20px;
                border-radius: 10px;
                box-shadow: 0 0 10px  #036e92;
            }
    
            label {
                font-weight: bold;
                display: block;
                margin-bottom: 10px;
                color: #2796ba;
            }
    
            input[type="text"],
            input[type="tel"] {
                width: 90%;
                padding: 10px;
                margin-bottom: 15px;
                border: 1px solid #ccc;
                border-radius: 5px;
            }
    
            h3 {
                font-size: 1.2rem;
                margin-top: 20px;
                color: #036e92;
            }
    
            .radio-group {
                margin-top: 10px;
                color: #2796ba;
            }
    
            input[type="radio"] {
                margin-right: 5px;
                display: inline-block;
            }
    
            label.radio-label {
                display: inline-block;
                width: 150px; /* Set a width for the labels to align them properly */
            }
    
            input[type="submit"],
            button {
                background-color: #2796ba;
                color: #fff;
                border: none;
                padding: 10px 20px;
                border-radius: 5px;
                cursor: pointer;
            }
    
            button {
                background-color: #ccc;
                margin-left: 10px;
            }
            a {
                text-decoration: none;
                color: #8edbed;
                border-bottom: 1px solid #333;
                margin-top: 10px;
                display: inline-block;
            }
    
            @media screen and (max-width: 600px) {
                form {
                    padding: 10px;
                }
            }
        </style>
    </head>
    <body>
        <h1>Search Result Page</h1>
        <form>
            <table border="1" id="moviesTable">
                <tr>
                  <th>name of movie</th>
                  <th>Movie names that areFrom the same genre</th>
                </tr>

                <tr>
                   <td>
                       <% obj.lm.forEach( function(movie) {  %>
                        <a href="/movieData/<%= movie  %>" ><li><%= movie  %> </li></a>
                        <% }) %>
                   </td>

                   <td>
                       <% obj.lmg.forEach( function(movie) {  %>
                        <a href="/movieData/<%= movie  %>"><li><%= movie  %> </li></a>
                        <% }) %>
                    </td>
                </tr>
            </table>
        </form>

    </body>
</html>