<html>
    <head>
    </head>
    <body>
        <h1>Search Movies Page</h1>
        <form action="/SearchMoviesPage" method="post">
            <div>
                <label >Name</label>
                <input type="tel" name="name" id="name" placeholder="Please type the name of the movie">
            </div><br>

            <h3>Please select the genre types</h3>
            <input type="radio" id="radio" name="radio" value="Drama"><label>Drama</label><br>
            <input type="radio" id="radio" name="radio" value="Science-Fiction"><label>Science-Fiction</label><br>
            <input type="radio" id= "radio" name="radio" value="Thriller"><label>Thriller</label><br>
            <input type="radio" id="radio" name="radio" value="Action"><label>Action</label><br>
            <input type="radio" id="radio" name="radio" value="Crime"><label>Crime</label><br>
            <input type="radio" id="radio" name="radio" value="Horror"><label>Horror</label><br>
            <input type="radio" id="radio" name="radio" value="Romance"><label>Romance</label><br>
            <input type="radio" id="radio" name="radio" value="Thriller"><label>Thriller</label><br>
            <input type="radio" id="radio" name="radio" value="Adventure"><label>Adventure</label><br>
            <input type="radio" id="radio" name="radio" value="Espionage"><label>Espionage</label><br>
            <input type="radio" id="radio" name="radio" value="Music"><label>Music</label><br>
            <input type="radio" id="radio" name="radio" value="Mystery"><label>Mystery</label><br>
            <input type="radio" id="radio" name="radio" value="Supernatural"><label>Supernatural</label><br>
            <input type="radio" id="radio" name="radio" value="Fantasy"><label>Fantasy</label><br>
            <input type="radio" id="radio" name="radio" value="Family"><label>Family</label><br>
            <input type="radio" id="radio" name="radio" value="Anime"><label>Anime</label><br>
            <input type="radio" id="radio" name="radio" value="Comedy"><label>Comedy</label><br>
            <input type="radio" id="radio" name="radio" value="History"><label>History</label><br>
            <input type="radio" id="radio" name="radio" value="Legal"><label>Legal</label><br>
            <input type="radio" id="radio" name="radio" value="Western"><label>Western</label><br>
            <input type="radio" id="radio" name="radio" value="Sports"><label>Sports</label><br>
            <input type="radio" id="radio" name="radio" value="War"><label>War</label><br>


            <br><br>

            <div>
                <label>Language</label>
                <input type="tel" id="Language" name="Language" placeholder="Please type the Language of the movie">
            </div><br>

            <input type="submit" value="Search">
            <button onclick="history.back()">Back</button>

        </form>

    </body>
</html>